{
    "presets": [
        "es2015"
    ],
    "plugins": [


    ],
    "ignore": [
        "./public/common/iconfont/iconfont.js",
        "./public/common/semantic/semantic.min.js",
        "./public/common/wangEditor/js/wangEditor.js",
        "./public/common/ztree/jquery.ztree.all.min.js",
        "./public/common/jquery.js"
    ]
}