#questionsCreate {
    padding: 10px;
    h3 {
        line-height: 50px;
        border-bottom: 1px solid #999;
    }
    .list {
        padding: 10px 0;
        border-bottom: 1px solid #999;
        line-height: 30px;
        //overflow: hidden;
        h4 {
            line-height: 30px;
        }
        .option {
            width: 100%;

        }
        .option:after {
            overflow: hidden;
            clear: both;
            content: "";
            display: block;
        }
        .grade {
            position: relative;
            .gradeOptions {
                position: absolute;
                width: 150px;
                padding: 10px;
                left: 0;
                top: 30px;
                z-index: 10;
                border: 1px solid #999;
                background: white;
                p {
                    padding-left: 20px;
                }
            }
        }
        .left {
            width: 80px;
            float: left;
        }
        .right {
            width: 800px;
            float: left;
        }
    }

}